:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: rgb(46, 46, 46);
  min-height: 100%;
}

.hidden {
  visibility: hidden;
}

.wd {
  color: rgb(251, 69, 76);
}

main {
  display: grid;
  grid-template-columns: 100%;
}

.one {
  background-image: url(./Images/image-1.jpg);
  background-size: cover;
  display: block;
  width: 96.5%;
  height: 600px;
  background-position: center center;
  position: relative;
  margin: 1rem;
  background-repeat: no-repeat;
}

.two {
  background-image: url(./Images/image-2.jpg);
  background-size: cover;
  display: block;
  width: 96.5%;
  height: 600px;
  background-position: center center;
  position: relative;
  margin: 1rem;
  background-repeat: no-repeat;
}

.three {
  background-image: url(./Images/image-3.jpg);
  background-size: cover;
  display: block;
  width: 96.5%;
  height: 600px;
  background-position: center center;
  position: relative;
  margin: 1rem;
  background-repeat: no-repeat;
}

.four {
  background-image: url(./Images/image-4.jpg);
  background-size: cover;
  display: block;
  width: 96.5%;
  height: 600px;
  background-position: center center;
  position: relative;
  margin: 1rem;
  background-repeat: no-repeat;
}

.five {
  background-image: url(./Images/image-5.jpeg);
  background-size: cover;
  display: block;
  width: 96.5%;
  height: 600px;
  background-position: center center;
  position: relative;
  margin: 1rem;
  background-repeat: no-repeat;
}

.six {
  background-image: url(./Images/image-6.jpeg);
  background-size: cover;
  display: block;
  width: 96.5%;
  height: 600px;
  background-position: center center;
  position: relative;
  margin: 1rem;
  background-repeat: no-repeat;
}

.seven {
  background-image: url(./Images/image-7.jpeg);
  background-size: cover;
  display: block;
  width: 96.5%;
  height: 600px;
  background-position: center center;
  position: relative;
  margin: 1rem;
  background-repeat: no-repeat;
}
.eight {
  background-image: url(./Images/image-8.jpeg);
  background-size: cover;
  display: block;
  width: 96.5%;
  height: 600px;
  background-position: center center;
  position: relative;
  margin: 1rem;
  background-repeat: no-repeat;
}

header {
  color: rgb(207, 207, 207);
}

header h3 {
  padding-left: 1rem;
  font-size: 1.5rem;
}

.centerHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2.5rem;
}

.about {
  font-size: 3rem;
  margin: 3rem 1rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.navT ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  padding: 0;
  margin-top: 0;
  max-width: 448px;
  max-height: 80px;
}

.navT {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2.5rem;
}

.navT li {
  padding-top: 1.5rem;
  font-size: 1rem;
}

.navT a {
  color: rgb(207, 207, 207);
  padding: 1rem;
  text-decoration: none;
}

/* .pictureCard img {
  width: 100%;
} */

footer {
  padding-top: 3rem;
  text-align: center;
  color: rgb(207, 207, 207);
}

footer h1 {
  padding-bottom: 2rem;
}

footer button {
  color: rgb(207, 207, 207);
  background-color: black;
  border: none;
  padding: 1rem 2rem;
}

@media (min-width: 768px) {
  body {
    margin: 0;
  }

  header {
    padding: 1rem;
  }

  .topP {
    display: flex;
    justify-content: space-between;
  }

  .topP ul {
    display: flex;
    list-style: none;
    padding-left: 0;
  }

  .topP li {
    padding: 1rem 1rem;
  }

  .topP a {
    color: rgb(34, 210, 255);
  }

  .hidden {
    visibility: visible;
  }

  .topP button {
    color: rgb(207, 207, 207);
    background-color: black;
    border: none;
    padding: 0rem 1.5rem;
    margin: 1rem;
  }

  header h3 {
    margin-left: 3rem;
  }
  .navT {
    display: inline;
    max-width: initial;
    max-height: initial;
  }
  .navT ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
    margin-top: 0;
    margin-left: 3rem;
    max-width: 1000px;
    max-height: 1000px;
  }
  .navT li {
    padding-top: 1.5rem;
    font-size: 1rem;
  }
  main {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  /* .left {
    padding-right: 2rem;
  }
  .right {
    padding-left: 2rem;
  } */
  /* .pictureCard img {
    width: 50vw;
  } */
}

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 16.8% 16.8% 16.8% 16.8% 16.8% 16.8%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  /* .topRow {
    display: flex;
    flex-wrap: wrap;
  } */

  /* .left {
    padding: 0;
    margin: 0.5rem;
  }

  .right {
    padding: 0;
    margin: 0.5rem;
  } */

  /* .pictureCard img {
    width: 100%;
    height: 70vh;
  } */

  .one {
    grid-column-start: 1;
    grid-column-end: 4;
    /* grid-row-start: 1;
    grid-row-end: 2; */
  }
  .two {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  .three {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .four {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .five {
    grid-column-start: 5;
    grid-column-end: 7;
  }
  .six {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .seven {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .eight {
    grid-column-start: 4;
    grid-column-end: 7;
  }
}
